<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                {#          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>#}
                <img src="{% static 'image/logo.png' %}" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">发布博客</a></li>
                {#          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>#}
                {#          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>#}
                {#          <li><a href="#" class="nav-link px-2 text-white">About</a></li>#}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>

<main class="container bg-white p-3 rounded">
    <h1>博客详情</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30px" height="30px">
        <span class="ms-2">用户名</span>
        <span class="ms-2">于</span>
        <span class="ms-2">发布时间：2024-08-10 11:30</span>
    </div>
    <hr>
    <div class="py-2">
        这里面是内容
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（10）</h3>
        <form action="" method="post">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论">
            </div>
            <div class="text-end mt-2">
                <botton class="btn btn-primary" type="button">提交评论</botton>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <div class="d-flex justify-content-between mt-2 text-body-secondary">
                <div class="user-info">
                    <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="40px" height="40px">
                    <span class="ms-2 mt-2">用户名</span>
                    <div class="mt-2">这里是评论内容</div>
                </div>
                <div style="line-height: 40px">
                    发布时间：2024-08-10 11:30
                </div>
            </div>
            </li>
            <li class="list-group-item">
            <div class="d-flex justify-content-between mt-2 text-body-secondary">
                <div class="user-info">
                    <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="40px" height="40px">
                    <span class="ms-2 mt-2">用户名</span>
                    <div class="mt-2">这里是评论内容</div>
                </div>
                <div style="line-height: 40px">
                    发布时间：2024-08-10 11:30
                </div>
            </div>
            </li>
        </ul>
    </div>


</main>
</body>
</html>