<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - 内部办公平台</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>

<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'hg_user:index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/shuihui.png' %}" height="40">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'hg_user:index' %}" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="{% url 'hg_info:info_publish' %}" class="nav-link px-2 text-secondary">发布文章</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'hg_info:info_search' %}"
                  method="GET">
                <input name="q" type="search" class="form-control" placeholder="搜索..." aria-label="Search">
            </form>


            {% if user.is_authenticated %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'image/avatar.webp' %}" alt="mdo" width="32" height="32"
                             class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="{% url 'hg_user:logout' %}">退出登录</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="text-end">
                    <a type="button" class="btn btn-outline-primary me-2" href="{% url 'hg_user:login' %}">登录</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

<main class="container bg-white p-3 rounded">
    {% block main %}{% endblock %}
</main>
</body>

<footer class="container bg-white p-3 rounded mt-3">
    <p class="text-center">国家税务总局黄冈市税务局版权所有
        技术支持：信息中心
</footer>
</html>