{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}


{% block main %}
    <h1>博客列表</h1>
    <div class="row row-cols-2 row-gap-3">
    {% for blog in blogs %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'blog:blog_detail' blog_id=blog.id %}">{{ blog.title }}</a>
                </div>
                <div class="card-body" style="height: 200px">
                    <p class="card-text">{{ blog.content|striptags|truncatechars:200 }}</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30px" height="30px" alt="头像">
                        {{ blog.author.username }}
                    </div>
                    <div>
                        发布时间：{{ blog.pub_time|date:"Y/m/d h:i:s" }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}