{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Log</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">


    {% load django_bootstrap5 %}
    {#    {% bootstrap_css %}#}
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
    {#    {% bootstrap_javascript %}#}
    <link rel="stylesheet" href="{% static 'cloud.css' %}">
</head>


<body style="background-image: {% static 'images/bg.jpg' %}">


<header class="p-3 mb-3 border fixed-top bg-light">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/"
               class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none navbar-brand">
                <img src="{% static 'images/huawei.svg' %}" alt="华为" height="40" width="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_logs:topics' %}">
                        Topics</a>
                </li>
                <li><a href="/" class="nav-link px-2 link-body-emphasis">首页</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis">门户网站</a></li>
                <li class="dropdown">
                    <a href="#"
                       class="d-block link-body-emphasis text-decoration-none dropdown-toggle nav-link px-2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        子系统
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="#">通知</a></li>
                        <li><a class="dropdown-item" href="#">邮件</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">自动排课</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">信息化设备管理</a></li>
                        <li><a class="dropdown-item" href="#">信息化设备查询统计</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">应用系统及单点登录</a></li>
                    </ul>
                </li>
            </ul>


            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <!-- 与账户相关的链接 -->
            {#            <ul class="navbar-nav ms-auto mb-2 mb-md-0">#}
            <ul class="nav    mb-2 justify-content-center mb-md-0">
                {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text me-3">{{ user.username }}</span>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}"> 注册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}"> 登录</a>
                    </li>
                {% endif %}
            </ul> <!-- 与账户相关的链接到此结束 -->

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/avatar.png' %}" alt="头像" width="32" height="32"
                         class="rounded-circle">
                </a>


                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings个人中心</a></li>
                    <li><a class="dropdown-item" href="#">Profile机构人员及权限管理</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <hr class="dropdown-divider">
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <a class="dropdown-item" href="#"
                                   onclick="(function(e) { e.preventDefault(); this.closest('form').submit(); }).bind(this)(event)">
                                    退出登录
                                </a>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<main class="container mt-4">
    {#    <div class="pb-2 mb-2 border-bottom">#}
    {#        {% block page_header %}#}
    {#                        <div class="p-3 mb-4 bg-light border rounded-3">#}
    {#                            <div class="container-fluid py-4">#}
    {#                                <h1 class="display-3">Track your learning.</h1>#}
    {#                                <p class="lead">Make your own Learning Log, and keep a list of the#}
    {#                                    topics you're learning about. Whenever you learn something new#}
    {#                                    about a topic, make an entry summarizing what you've learned.</p>#}
    {#                                <p class="lead">#}
    {#                                    写你自己的学习日志，并列出你正在学习的主题。无论何时你学习了某个主题的新知识，都要记录下来，总结所学到的知识。</p>#}
    {#                                <a class="btn btn-primary btn-lg mt-1"#}
    {#                                   href="{% url 'accounts:register' %}">Register &raquo;</a>#}
    {#                            </div>#}
    {#                        </div>#}
    {#        {% endblock page_header %}#}
    {#    </div>#}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</main>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">管理入口</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">网站地图</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">软件下载</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">帮助中心</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">MaxKB智能助手</a></li>
        </ul>
        <div class="text-center text-body-secondary">
            <p>© 2024 Company, Inc</p>
        </div>
    </footer>

</div>
<script src="{% static 'bootstrap5/js/bootstrap.bundle.js' %}"></script>
</body>
</html>