{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    新entry
{% endblock title %}

{% block page_header %}
    <h1> Topic:{{ topic.text }}</h1>
{% endblock page_header %}



{% block content %}
    <p>
        <a href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic }}
        </a>
    </p>
    <p>增加新的条目:</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {#        {{ form.as_div }}#}
        {#        <button name="submit">Add entry</button>#}
        {% bootstrap_button button_type='submit' content="Add entry" %}
    </form>
{% endblock content %}

