{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1> Topic：{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">增加新的条目</a>
    </p>

    {% for entry in entries %}
        <div class="card mb-3">
            <!-- 包含时间戳和编辑链接的标题 -->
            <h4 class="card-header">
                {{ entry.date_added|date:'M d, Y H:i' }}
                <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
                    edit entry</a></small>
            </h4>
            <!-- 包含条目文本的正文 -->
            <div class="card-body">{{ entry.text|linebreaks }}</div>
        </div>
    {% empty %}
        <p>没有条目。</p>
    {% endfor %}

{% endblock content %}